[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
"argon2" = "*"
"psycopg2" = "*"
"argon2-cffi" = "*"
djangorestframework-jwt = "*"
"psycopg2-binary" = "*"
python-etcd = "*"
ipython = "*"
pytest-django = "*"
django-environ = "*"
django-autofixture = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.7"
